<!--Добавим контейнер для красоты-->

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<app-oblivion-navbar
				[importConfig]="configNavbar">
			</app-oblivion-navbar>

			<!--Добавим отступ в 1 rem после меню-->
			<div class="clearfix mb-4"></div>
			<!--Давайте добавим слайдер-->
			<app-oblivion-slider
				[importConfig]="importConfig">
			</app-oblivion-slider>

			<!--Добавим отступ в 1 rem -->
			<div class="clearfix mb-4"></div>
			<!--Идем дальше вставляем карточки-->
			<app-oblivion-card
				[importConfig]="importConfig">
			</app-oblivion-card>
		</div>
	</div>
</div>
<!--Ну и встим футер-->
<app-oblivion-footer
	[importConfig]="importConfig" >
</app-oblivion-footer>



